<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <span class="text-muted">&copy; Patrões Advisor 2020</span>
      </div>
      <div class="col-6">
        <% if(title === 'Restaurants Index'){ %> 
        <p class="text-muted text-end fs-6">Photo by Orlova Maria - www.unsplash.com</p>
        <% } %> 
      </div>
    </div>
  </div>
</footer>