<% layout('layouts/boilerplate') %>
 <div class="row">
   <h1 class="text-center">New Restaurant</h1>
   <div class="col-6 offset-3">
    <form action="/restaurants" method="POST" novalidate class="validated-form" enctype="multipart/form-data" id="newRestaurantForm">
      <div class="mb-3">
        <label class="form-label" for="title">Name</label>
        <input class="form-control" type="text" id="title" name="restaurant[title]" placeholder="Name of the Restaurant" required>
        <div class="valid-feedback"> Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="restaurant[location]" placeholder="Location" required>
        <div class="valid-feedback"> Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Average Meal Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">€</span>
          <input type="text" class="form-control" id="price" name="restaurant[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
          <div class="valid-feedback"> Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="foodType">Type of food:</label>
        <input class="form-control" type="text" id="foodType" name="restaurant[foodType]" placeholder="Food Type. Ex: Asian.">
        <div class="valid-feedback"> Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="specialDish">Special Dish:</label>
        <input class="form-control" type="text" id="specialDish" name="restaurant[specialDish]" placeholder="Special Dish. Ex: Francesinha">
        <div class="valid-feedback"> Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="restaurant[description]" placeholder="Brief description." required></textarea>
        <div class="valid-feedback"> Looks good!</div>
      </div>
      <div class="mb-3"> 
        <label for="formFileMultiple" class="form-label">Upload Images: </label>
        <input class="form-control" type="file" name="image" id="formFileMultiple" multiple required>
        <div class="invalid-feedback"> Image required to add a new Restaurant!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Restaurant</button>
      </div>
    </form>
    <a href="/restaurants"> Back To All Restaurants</a>
   </div>
 </div>

 <script src="/javascripts/newRestValidation.js"></script>

